<a href="https://colab.research.google.com/github/smfwlgus/DnM/blob/master/LGBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#코드 및 데이터 참고: https://dacon.io/competitions/official/235801/overview/description

# **라이브러리**

In [ ]:
import numpy as np 
import pandas as pd
from tqdm import tqdm

import datetime
import urllib.request
import json

from glob import glob
import multiprocessing
import pickle

import warnings

import seaborn as sns
import matplotlib.pyplot as plt

import lightgbm
from lightgbm import LGBMRegressor

In [ ]:
# 경고 끄기
pd.set_option('mode.chained_assignment', None)
warnings.filterwarnings(action='ignore')  #관련없는 문구 알리지 않음

# **어제 정보 가져와서 처리**

In [ ]:
#어제의 농넷 데이터 불러오기
#datetime.datetime(2019, 12, 12)...
today = datetime.datetime.today()
yesterday = (today-datetime.timedelta(1)).strftime('%Y%m%d') #strftime(): 원하는 날짜 형식으로 출력

url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜

response = urllib.request.urlopen(url+yesterday).read()
response = json.loads(response)

data = pd.DataFrame(response['data'])

In [ ]:
yesterday

In [ ]:
data

In [ ]:
data.to_csv(f'/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/AT_TSALET_ALL_{yesterday}.csv', index=False)

In [ ]:
# 윈도우즈 사용시 함수를 별도의 .py파일로 저장 후 import하여 사용
def preprocessing(tsalet_file):
    unique_pum = [
        '배추', '무', '양파', '마늘', '대파', 
        '깻잎', '시금치', '미나리', '파프리카', '토마토',
    ]
    
    t_dict = {
        'date':[]
    }
    
    for sub in unique_pum:
        t_dict[f'{sub}_거래량(kg)'] = []
        t_dict[f'{sub}_가격(원/kg)'] = []
        
    tsalet_sample = pd.read_csv(tsalet_file)
    days = sorted(tsalet_sample['SALEDATE'].unique())
    for day in days:
        t_dict['date'].append(day)
        for sub in unique_pum:
            # 날짜별, 품목별, 거래량이 0 이상인 행만 선택
            c = tsalet_sample[(tsalet_sample['SALEDATE']==day) & (tsalet_sample['PUM_NM']==sub) & (tsalet_sample['TOT_QTY']>=0)]
            if c.shape[0] == 0:
                t_dict[f'{sub}_거래량(kg)'].append(0)
                t_dict[f'{sub}_가격(원/kg)'].append(0)
            else:
                tot_amt = c['TOT_AMT'].sum().astype(float)
                tot_qty = c['TOT_QTY'].sum().astype(float)
                mean_price = tot_amt/(tot_qty+1e-20)
                t_dict[f'{sub}_거래량(kg)'].append(tot_qty)
                t_dict[f'{sub}_가격(원/kg)'].append(mean_price)
                
    with open(f'/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/{tsalet_file.split("/")[-1].split(".")[0]}.pkl', 'wb') as f:
        pickle.dump(t_dict, f)

In [ ]:
#tsalet_files = sorted(glob('/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/*'))
tsalet_files = sorted(glob(f'/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/AT_TSALET_ALL_{yesterday}.csv')) 

pool = multiprocessing.Pool(processes=multiprocessing.cpu_count())
pool.map(preprocessing, tsalet_files)
pool.close()
pool.join()

In [ ]:
dict_files = sorted(glob(f'/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/AT_TSALET_ALL_{yesterday}.pkl'))

In [ ]:
t_dict_list = []
for dict_file in dict_files:
    with open(dict_file, 'rb') as f:
        train_dict = pickle.load(f)
    t_dict_list.append(train_dict)

In [ ]:
train = None

for t_dcit in t_dict_list:
    if train is None:
        train = pd.DataFrame(t_dcit)
    else:
        train = pd.concat([train, pd.DataFrame(t_dcit)])

In [ ]:
train['date'] = train.date.astype(str).str.replace('-','')
train['date'] = pd.to_datetime(train.date, format='%Y%m%d')

In [ ]:
train.insert(1, '요일', '0')

In [ ]:
import datetime #20/9/29~20/11/5
days = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일']

for i in range (train.shape[0]): #문자 -> 숫자
  train['요일'][i] = days[int(train['date'].dt.weekday[i])]

train['date'] = train['date'].dt.date

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/Capstone/Data/test_yesterday.csv')

test = test.append(train)
test

test, test_files 만들기

In [ ]:
test.to_csv('/content/drive/MyDrive/Capstone/Data/test_yesterday.csv', index=False)

In [ ]:
yes = (today-datetime.timedelta(1)).strftime('%Y-%m-%d')
test.to_csv(f'/content/drive/MyDrive/Capstone/Data/test_files/test_{yes}.csv', index=False)

In [ ]:
submission = pd.read_csv('/content/drive/MyDrive/Capstone/Data/subsub.csv') #12/3

In [ ]:
for week_num in [1,2,4]:
  yes = (today-datetime.timedelta(1)).strftime('%Y-%m-%d')
  submission.loc[len(submission)] = [f'{yes}+{week_num}week', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] #어제꺼 가져와서 돌리는 경우 필요

In [ ]:
submission

# **EDA**

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/Capstone/Data/ten_pum_train_onebon.csv')
train = train[:1827] #2016 1 ~ 2020 12

In [ ]:
train.head()

         date   요일  배추_거래량(kg)  ...  파프리카_가격(원/kg)  토마토_거래량(kg)  토마토_가격(원/kg)
0  2016-01-01  금요일         0.0  ...            0.0          0.0           0.0
1  2016-01-02  토요일     80860.0  ...         3703.0      30950.0        1621.0
2  2016-01-03  일요일         0.0  ...            0.0          0.0           0.0
3  2016-01-04  월요일   1422742.5  ...         4871.0     291057.0        1834.0
4  2016-01-05  화요일   1167241.0  ...         5129.0     194626.5        1833.0

[5 rows x 22 columns]

In [ ]:
weather = pd.read_csv('/content/drive/MyDrive/Capstone/주산지, 날씨 코드/weather.csv')
weather.head() #2015~2020 날씨 데이터

   no    stn_Code stn_Name  ... gr_Temp  soil_Temp  soil_Wt
0   1  536824B002  해남군 옥천면  ...     NaN       3.36     25.9
1   1  330846A001  천안시 목천읍  ...     NaN        NaN      NaN
2   1  627911A001  밀양시 상남면  ...     NaN       2.20     28.5
3   1  539823A001  진도군 군내면  ...     NaN       5.02     30.6
4   1  590823A001  남원시 이백면  ...    -4.3       2.16     20.3

[5 rows x 17 columns]

# **전처리**
lag_feature 추가 및 기타 전처리

*   f-string 포맷팅: f '문자열 {변수} 문자열'로 사용
    - 문자열에서 모두 같고 특정 부분만 바뀔때 사용

**전처리1. lag_feature 추가 및 기타**

In [ ]:
def preprocessing(temp_df, pum, len_lag) :
    # p_lag, q_lag 추가
    for lag in range(1,len_lag+1) :
      temp_df[f'p_lag_{lag}'] = -1
      temp_df[f'q_lag_{lag}'] = -1
      for index in range(lag, len(temp_df)) :
        temp_df.loc[index, f'p_lag_{lag}'] = temp_df[f'{pum}_가격(원/kg)'][index-lag] #1일전, 2일전, ... 가격을 feature로 추가
        temp_df.loc[index, f'q_lag_{lag}'] = temp_df[f'{pum}_거래량(kg)'][index-lag] #1일전, 2일전, ... 거래량을 feature로 추가

    # month 추가
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['month'] = temp_df['date'].dt.month

    # 예측 대상(1w,2w,4w) 추가
    for week in ['1_week','2_week','4_week'] :
      temp_df[week] = 0
      n_week = int(week[0])
      for index in range(len(temp_df)) :
        try : temp_df[week][index] = temp_df[f'{pum}_가격(원/kg)'][index+7*n_week]
        except : continue

    # 불필요한 column 제거        
    #temp_df = temp_df.drop(['date',f'{pum}_거래량(kg)',f'{pum}_가격(원/kg)'], axis=1)
    
    return temp_df

In [ ]:
# preprocessing 함수 예시
pum = '배추'
temp_pre = train[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
preprocessing(temp_pre, pum, len_lag=28)

**weather의 이상치, 결측치 처리하기**

In [ ]:
weather.info()

In [ ]:
plt.figure(figsize=(5, 5))
sns.boxplot(data=weather['soil_Wt'])

In [ ]:
weather = weather.drop(['sun_Time', 'condens_Time', 'gr_Temp', 'soil_Wt'] , 1)

In [ ]:
weather.fillna(0, inplace=True)

In [ ]:
weather.isnull().sum()

no              0
stn_Code        0
stn_Name        0
date            0
temp            0
max_Temp        0
min_Temp        0
hum             0
widdir          0
wind            0
rain            0
sun_Time        0
sun_Qy          0
condens_Time    0
gr_Temp         0
soil_Temp       0
soil_Wt         0
dtype: int64

**전처리2. 기상 변수 추가**

*   30일씩 12쿼터로 나누어서 평균 기온, 평균 습도, 누적 강수량, 이상 기후 누적 일수 등 추가  
* 3개월씩 계절별로 끊어서 학습하는 것도 고려

In [ ]:
#10개 품목의 주산지
joosan_dict = {
    '깻잎': '경상남도 밀양시',
    '대파': '전라남도 신안군',
    '마늘': '경상남도 창녕군',
    '무': '제주도 제주시',
    '미나리': '경기도 시흥시',
    '배추': '전라남도 해남군',
    '시금치': '경기도 포천시',
    '양파': '전라남도 무안군',
    '토마토': '부산 강서구',
    '파프리카': '강원도 철원군'         
}

In [ ]:
#10개 품목의 주산지 관측지점 코드
code_dict = { 
    '강원도 철원군': '269811A001', #파프리카
    '경기도 시흥시': '429843A001', #미나리
    '경기도 포천시': '487915A001', #시금치
    '경상남도 밀양시': '627911A001', #깻잎
    '경상남도 창녕군': '635821A001', #마늘
    '부산 강서구': '618803A001', #토마토
    '전라남도 무안군': '534833E001', #양파
    '전라남도 신안군': '535812A001', #대파
    '전라남도 해남군': '536824B002', #배추
    '제주도 제주시': '063057B009', #무
}

In [ ]:
first_date = datetime.datetime.strptime('2020-09-28', '%Y-%m-%d') - datetime.timedelta(360) 
date_list = [] 
for delta in range(360) : #0~360
    date = first_date + datetime.timedelta(days = delta)
    date = datetime.datetime.strftime(date, '%Y-%m-%d') 
    date_list.append(date)
date_df = pd.DataFrame({'date' : date_list}) #date가 담긴 df 생성
train = pd.read_csv('/content/drive/MyDrive/Capstone/Data/ten_pum_train_onebon.csv')
train = train[:1827] #2016 1 ~ 2020 12
train2 = pd.concat([date_df, train], sort = False).reset_index(drop=True) #1년치, 전체날짜(train)

In [ ]:
def weather_feature(temp_df, train2, date_df, allweather, pum, joosan_dict, code_dict, quater_days=30, num_quaters=12):
    # 2015년도 일자 추가
    temp_df = train2[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
    
    # 품종과 주산지 날씨 mapping
    joosanji = joosan_dict[pum]
    joosan_code = code_dict[joosanji]
    joosan_weather = allweather[allweather['stn_Code']==joosan_code].reset_index(drop=True)
    end_index = np.where(joosan_weather['date']=='2020-12-31')[0][0]
    joosan_weather = joosan_weather.iloc[:end_index+1] #2020-09-28 까지만 자르기
    temp_df = temp_df.merge(joosan_weather, on='date', how='left')

    # weather feature 추가
    col_list = temp_df.columns[6:]
    for num in range(1,num_quaters+1) :
        for index in range(360, len(temp_df)) :
            temp_quater_df = temp_df.iloc[index-quater_days*num : index-quater_days*(num-1)] #
            quater_temp = temp_quater_df['temp']
            temp_df.loc[index, f'rain_sum_{num}q'] = temp_quater_df['rain'].sum() # 누적 강수량
            temp_df.loc[index, f'heavy_rain_count_{num}q'] = np.where(temp_quater_df['rain']>90, 1, 0).sum() # 평균 강수량 90mm 이상 누적 일수
            temp_df.loc[index, f'low_temp_count_{num}q'] = np.where(quater_temp<5, 1, 0).sum() # 일평균 기온 5도 이하 누적 일수
            temp_df.loc[index, f'middle_temp_count_{num}q'] = np.where(((quater_temp>15)&(quater_temp<22)), 1, 0).sum() # 일평균 기온 15~22도 누적 일수
            temp_df.loc[index, f'high_temp_count_{num}q'] = np.where(quater_temp>32, 1, 0).sum() # 일평균 기온 32도 이상 누적 일수
            for col in col_list :
                temp_df.loc[index, f'avg_{col}_{num}q'] = temp_quater_df[col].mean() # 각 기상 요소의 평균값
        
    # 예측 대상(1w,2w,4w) 추가
    for week in ['1_week','2_week','4_week'] :
      temp_df[week] = 0
      n_week = int(week[0])
      for index in range(len(temp_df)) :
        try : temp_df[week][index] = temp_df[f'{pum}_가격(원/kg)'][index+7*n_week]
        except : continue

    drop_col_list = temp_df.columns[3:19]
    temp_df = temp_df.drop(drop_col_list, 1).reset_index(drop=True)
    temp_df = temp_df.iloc[360:].reset_index(drop=True)     
    temp_df = temp_df.drop(['date',f'{pum}_거래량(kg)',f'{pum}_가격(원/kg)'], axis=1) # 불필요한 column 제거 
    
    return temp_df

In [ ]:
# weather_feature 함수 예시
pum = '대파'
temp_df = train[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
weather_feature(temp_df, train2, date_df, weather, pum, joosan_dict, code_dict, quater_days=30, num_quaters=12)

      rain_sum_1q  heavy_rain_count_1q  ...  2_week  4_week
0           307.0                  1.0  ...  1335.0  2830.0
1           302.5                  1.0  ...  1339.0  2707.0
2           301.0                  1.0  ...     0.0  1237.0
3           301.0                  1.0  ...  1403.0  2808.0
4           301.0                  1.0  ...  1777.0  2756.0
...           ...                  ...  ...     ...     ...
1822          6.0                  0.0  ...     0.0     0.0
1823         15.5                  0.0  ...     0.0     0.0
1824         15.5                  0.0  ...     0.0     0.0
1825         19.0                  0.0  ...     0.0     0.0
1826         19.0                  0.0  ...     0.0     0.0

[1827 rows x 219 columns]

# **학습**

*   metric 정의 (모델 학습 시 손실 줄이기 위함)
*   여기서는 nmae(normalized mean absolute error) 이용

In [ ]:
def nmae(week_answer, week_submission):
    answer = week_answer.to_numpy()
    target_idx = np.where(answer!=0)
    true = answer[target_idx]
    pred = week_submission[target_idx]
    score = np.mean(np.abs(true-pred)/true)
    
    return score

#1,2,4주의 평균으로 예측
def at_nmae(pred, dataset):
    y_true = dataset.get_label()
    week_1_answer = y_true[0::3]
    week_2_answer = y_true[1::3]
    week_4_answer = y_true[2::3]
    
    week_1_submission = pred[0::3]
    week_2_submission = pred[1::3]
    week_4_submission = pred[2::3]
    
    score1 = nmae(week_1_answer, week_1_submission)
    score2 = nmae(week_2_answer, week_2_submission)
    score4 = nmae(week_4_answer, week_4_submission)
    
    score = (score1+score2+score4)/3
    
    return 'score', score, False

# **학습 정의**

In [ ]:
def model_train(x_train, y_train, x_valid, y_valid) :
    params = {'learning_rate': 0.01, #학습률
              'max_depth': 6, #트리의 최대 깊이
              'boosting': 'gbdt', #실행하고자 하는 알고리즘 타입. 현재 디폴트 값인 gradient boosting decision tree
              'objective': 'regression',  #모델 어플리케이션. 현재 regression(회귀) 
              'is_training_metric': True, 
              'num_leaves': 100, #전체 트리의 leave 수
              'feature_fraction': 0.8, #Light GBM이 트리를 만들 때 매번 각 iteration 반복에서 파라미터 80% 랜덤 선택
              'bagging_fraction': 0.8, #배깅, 매번 iteraion 돌 때 사용되는 데이터 80% 랜덤 선택
              'bagging_freq': 5, #배깅 빈도수
              'seed':42, #랜덤 시드
              'num_threads':8
             }
    #모델 Light GBM
    model = lightgbm.train(params, 
                   train_set = lightgbm.Dataset(data = x_train, label = y_train),
                   num_boost_round = 10000, #boosting iteraion 수. 10,000회
                   valid_sets = lightgbm.Dataset(data = x_valid, label = y_valid), #validation 세트 -> data에 x검증, label에 y검증
                   init_model = None, 
                   early_stopping_rounds = 100, #분석 속도 높이기. 지나친 iteration 줄이기
                   feval = at_nmae,
                   verbose_eval = False
                    )
    
    return model

# **품목 및 품종 별 모델 학습**

In [ ]:
unique_pum = [ #10개 품목
    '배추', '무', '양파', '마늘', '대파', 
    '깻잎', '시금치', '미나리', '파프리카', '토마토',
]

In [ ]:
model_dict = {}
split = 28 #전체 100 중 validation용으로 나눔

for pum in tqdm(unique_pum): #pum 진행도(unique_pum) 보여주기
    # 품목 전처리
    temp_df = train[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
    temp_df = weather_feature(train2, date_df, weather, pum, joosan_dict, code_dict, quater_days=30, num_quaters=12)

    # 주차별(1,2,4w) 학습
    for week_num in [1,2,4] :
        x = temp_df[temp_df[f'{week_num}_week']>0].iloc[:,:-3] 
        y = temp_df[temp_df[f'{week_num}_week']>0][f'{week_num}_week']
        
        #train, test split
        x_train = x[:-split]
        y_train = y[:-split]
        x_valid = x[-split:]
        y_valid = y[-split:]
        
        model_dict[f'{pum}_model_{week_num}'] = model_train(x_train, y_train, x_valid, y_valid)

100%|██████████| 1/1 [03:15<00:00, 195.54s/it]

# **추론**


*   str.contains('2020'): 2020을 포함한 데이터 가져오기
*   str.split('+'): +를 기준으로 문자열 분리
*   str[0].unique(): 고유한 값을 numpy 배열로 반환 - 데이터 전처리, 탐색 시 사용

*  pd.concat: 데이터 프레임 연결, 합치기
*  pd.reset_index: 데이터 프레임 연결 시 index 중복 해결 - 기존 행 인덱스 제거하고 새로운 df에 맞춰 새로운 인덱스 설정 

  (drop=True는 인덱스 열 버리기)
*  pd.iloc: integer-location 정수 기반 인덱싱 -> 해당 부분 가져오기

In [ ]:
submission = pd.read_csv('/content/drive/MyDrive/Capstone/Data/subsub.csv') #12/3

public_date_list = submission[submission['예측대상일자'].str.contains('2021')]['예측대상일자'].str.split('+').str[0].unique()
#['2020-09-29', ...] 

for date in tqdm(public_date_list) : #빈 submission 파일 불러오기
  test = pd.read_csv(f'/content/drive/MyDrive/Capstone/Data/test_files/test_{date}.csv') 
  
  for pum in unique_pum: 
    # 예측기준일에 대해 전처리
    temp_test = pd.DataFrame([{'date' : date}]) #test_files에 있는 예측기준일(date)
    alldata = pd.concat([train, test, temp_test], sort=False).reset_index(drop=True) 
    #[train, test, temp_test연결], sort 기본값, reset_index(drop=True)는 이전 인덱스가 열로 추가되는 것 방지  
    alldata = alldata[['date', f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']].fillna(0) #모든 데이터에서 값이 없는 부분(na) -> 0으로 채우기 
    #alldata = alldata.iloc[-28:].reset_index(drop=True) #-28(마지막) 가져오기, drop=True는 인덱스 열 버리기
    alldata = alldata[:-1]

    #alldata = preprocessing(alldata, pum, len_lag=28) #전처리(모든 데이터, pum, 28) *수정필요*
    #temp_df = alldata[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
    alldata = weather_feature(alldata, temp_test, weather, pum, joosan_dict, code_dict, quater_days=30, num_quaters=12) #날씨 전처리로 추가, temp_df 지움
    #alldata = temp_df

    temp_test = alldata.iloc[-1].astype(float) #iloc[-1], 마지막 행을 float 타입으로 가져오기
          
    # 개별 모델을 활용하여 1,2,4주 후 가격 예측
    for week_num in [1,2,4] : #week_num: 1,2,4
      temp_model = model_dict[f'{pum}_model_{week_num}']
      result = np.round(temp_model.predict(temp_test), 0) #temp_test의 예측값---> train, test,temp_test 다 담아서 예측하는 거
      condition = (submission['예측대상일자']==f'{date}+{week_num}week') #ex.[2020-09-29 + 1week]
      idx = submission[condition].index #인덱스
      submission.loc[idx, f'{pum}_가격(원/kg)'] = result[0] #loc은 레이블 기반이라 행.열 설정해줘야함
      #행 idx, 열은 pum들의 가격(원/kg) 인덱스
      #주차 별로 품목 바꾸면서 가격 가져오기

preds = temp_model.predict(alldata)

  0%|          | 0/337 [02:02<?, ?it/s]

KeyboardInterrupt: ignored

In [ ]:
submission

                예측대상일자  배추_가격(원/kg)  ...  파프리카_가격(원/kg)  토마토_가격(원/kg)
0     2021-01-01+1week            0  ...              0             0
1     2021-01-01+2week            0  ...              0             0
2     2021-01-01+4week            0  ...              0             0
3     2021-01-02+1week            0  ...              0             0
4     2021-01-02+2week            0  ...              0             0
...                ...          ...  ...            ...           ...
1006  2021-12-02+2week            0  ...              0             0
1007  2021-12-02+4week            0  ...              0             0
1008  2021-12-03+1week            0  ...              0             0
1009  2021-12-03+2week            0  ...              0             0
1010  2021-12-03+4week            0  ...              0             0

[1011 rows x 11 columns]

In [ ]:
submission.to_csv('/content/drive/MyDrive/Capstone/submission_1203.csv',index=False)

# **성능 측정**

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
preds.shape

(1827,)

In [ ]:
test

           date   요일  배추_거래량(kg)  ...  파프리카_가격(원/kg)  토마토_거래량(kg)  토마토_가격(원/kg)
0    2021-01-01  금요일        0.00  ...       0.000000          0.0      0.000000
1    2021-01-02  토요일    24401.50  ...    4884.721875      25290.0   1914.895216
2    2021-01-03  일요일        0.00  ...       0.000000          0.0      0.000000
3    2021-01-04  월요일   859651.80  ...    4515.337752     393979.0   2098.278649
4    2021-01-05  화요일   889332.20  ...    5515.671581     228576.5   2092.442574
..          ...  ...         ...  ...            ...          ...           ...
332  2021-11-29  월요일  2856016.45  ...    2274.810506     232403.5   2486.894345
333  2021-11-30  화요일  2185300.05  ...    2225.523196     176793.4   2358.261281
334  2021-12-01  수요일  1517157.50  ...    2134.811434     190878.7   2507.076484
335  2021-12-02  목요일  1517168.60  ...    2245.025486     123034.5   2424.799223
336  2021-12-03  금요일  2240760.10  ...    2311.520573     183210.9   2505.971260

[337 rows x 22 columns]

In [ ]:
real = test['배추_거래량(kg)'].to_numpy()

In [ ]:
acc = r2_score(real, preds)

ValueError: ignored

In [ ]:
acc

# **모델 저장**

In [ ]:
!pip install joblib
import joblib

joblib.dump(temp_model, '/content/drive/MyDrive/Capstone/lgbm.pkl')
load_model = joblib.load('/content/drive/MyDrive/Capstone/lgbm.pkl')

Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (1.1.0)