<a href="https://colab.research.google.com/github/smfwlgus/DnM/blob/master/NongNetData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#출처: https://dacon.io/competitions/official/235801/overview/description

In [3]:
import pandas as pd
import urllib.request
import json
import datetime

# **어제의 농넷 데이터 불러오기**

In [4]:
#어제의 농넷 데이터 불러오기
#datetime.datetime(2019, 12, 12)...
today = datetime.datetime.today()
yesterday = (today-datetime.timedelta(1)).strftime('%Y%m%d') #strftime(): 원하는 날짜 형식으로 출력

url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜

response = urllib.request.urlopen(url+yesterday).read()
response = json.loads(response)

data = pd.DataFrame(response['data'])

In [5]:
data

       PUM_NM LV_NM  TOT_AMT  SAN_NM  ... TOT_QTY    QTY  KIND_NM  DANQ
0          생강     .   372000  전북 익산시  ...   120.0  120.0   생강(일반)   1.0
1          생강     .    49600  전북 익산시  ...    16.0   16.0   생강(일반)   1.0
2         건고추     .   160000  전북 익산시  ...    20.0   20.0    기타건고추   1.0
3         건고추     .   280000  전북 익산시  ...    40.0   40.0    기타건고추   1.0
4         건고추     .   260000  전북 익산시  ...    40.0   40.0    기타건고추   1.0
...       ...   ...      ...     ...  ...     ...    ...      ...   ...
108856    바나나     .   160000    None  ...   130.0   10.0  바나나(수입)  13.0
108857    바나나     .    80000    None  ...    65.0    5.0  바나나(수입)  13.0
108858    바나나     .    80000    None  ...    65.0    5.0  바나나(수입)  13.0
108859     상추     .  -160000    None  ...   -64.0  -16.0      포기찹   4.0
108860     상추     .   160000    None  ...    64.0   16.0      포기찹   4.0

[108861 rows x 15 columns]

# **일자(하루) 데이터 가져오기**

In [6]:
#일자 하루
nalja = datetime.datetime(2021, 8, 24)
august = nalja.strftime('%Y%m%d') #strftime(): 원하는 날짜 형식으로 출력

url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜

response = urllib.request.urlopen(url+august).read()
response = json.loads(response)

data = pd.DataFrame(response['data'])

In [7]:
data

       PUM_NM LV_NM   TOT_AMT  SAN_NM  ... TOT_QTY   QTY  KIND_NM  DANQ
0         복숭아    등외   10400.0  경북 울진군  ...     4.5   1.0       황도   4.5
1         복숭아    등외   24600.0  경북 울진군  ...    13.5   3.0       황도   4.5
2         복숭아    등외   32800.0  경북 울진군  ...    18.0   4.0       황도   4.5
3         복숭아     특  131600.0  경북 울진군  ...    31.5   7.0       황도   4.5
4         복숭아     특  338000.0  경북 울진군  ...    90.0  20.0       황도   4.5
...       ...   ...       ...     ...  ...     ...   ...      ...   ...
129688    바나나     .  162000.0    None  ...   117.0   9.0  바나나(수입)  13.0
129689    바나나     .   90000.0    None  ...    65.0   5.0  바나나(수입)  13.0
129690    바나나     .   90000.0    None  ...    65.0   5.0  바나나(수입)  13.0
129691    바나나     .   90000.0    None  ...    65.0   5.0  바나나(수입)  13.0
129692    바나나     .   72000.0    None  ...    52.0   4.0  바나나(수입)  13.0

[129693 rows x 15 columns]

# 1~11월

In [20]:
#월 별 데이터

for i in range(4, 6):
  nalja = datetime.datetime(2021, 12, i).strftime('%Y%m%d')

  url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜
  
  response = urllib.request.urlopen(url+nalja).read()
  response = json.loads(response)
  
  globals() ['df{}'.format(i)] = pd.DataFrame(response['data'])

In [18]:
data = pd.concat([df4, df5])

In [ ]:
data = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, 
                    df11, df12, df13, df14, df15, df16, df17, df18, df19, df20,
                    df21, df22, df23, df24, df25, df26, df27, df28, df29, df30])

In [15]:
data.to_csv('/content/drive/MyDrive/Capstone/Data/AT_TSALET_ALL_20211205.csv', index=False)