<a href="https://colab.research.google.com/github/smfwlgus/DnM/blob/master/NongNetData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#출처: https://dacon.io/competitions/official/235801/overview/description

In [ ]:
import pandas as pd
import urllib.request
import json
import datetime

# **어제의 농넷 데이터 불러오기**

In [ ]:
#어제의 농넷 데이터 불러오기
#datetime.datetime(2019, 12, 12)...
today = datetime.datetime.today()
yesterday = (today-datetime.timedelta(1)).strftime('%Y%m%d') #strftime(): 원하는 날짜 형식으로 출력

url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜

response = urllib.request.urlopen(url+yesterday).read()
response = json.loads(response)

data = pd.DataFrame(response['data'])

In [ ]:
data

            PUM_NM LV_NM  TOT_AMT    SAN_NM  ... TOT_QTY    QTY  KIND_NM  DANQ
0               포도     특   351000  경상북도 김천시  ...    54.0   27.0    샤인마스캇   2.0
1               포도     특  1100000  경상북도 김천시  ...   200.0  100.0    샤인마스캇   2.0
2               포도     특   225000  경상북도 김천시  ...    50.0   25.0    샤인마스캇   2.0
3               포도     특   440000  경상북도 경산시  ...   120.0   40.0  마스캇베리에이   3.0
4               포도     특   230000  경상북도 경산시  ...    60.0   20.0  마스캇베리에이   3.0
...            ...   ...      ...       ...  ...     ...    ...      ...   ...
122346         바나나     .   170000      None  ...   130.0   10.0  바나나(수입)  13.0
122347         바나나     .   170000      None  ...   130.0   10.0  바나나(수입)  13.0
122348         바나나     .   170000      None  ...   130.0   10.0  바나나(수입)  13.0
122349         바나나     .    85000      None  ...    65.0    5.0  바나나(수입)  13.0
122350  콜라비(순무양배추)     .   -15000      None  ...  -150.0  -15.0  콜라비(일반)  10.0

[122351 rows x 15 columns]

In [ ]:
# data.to_csv('ddd.csv')

# **일자(하루) 데이터 가져오기**

In [ ]:
#일자 하루
nalja = datetime.datetime(2021, 8, 24)
august = nalja.strftime('%Y%m%d') #strftime(): 원하는 날짜 형식으로 출력

url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜

response = urllib.request.urlopen(url+august).read()
response = json.loads(response)

data = pd.DataFrame(response['data'])

In [ ]:
nalja = datetime.datetime(2021, 8, 24)
abc = nalja.strftime('%Y%m%d') #strftime(): 원하는 날짜 형식으로 출력

url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜

response = urllib.request.urlopen(url+abc).read()
response = json.loads(response)

data = pd.DataFrame(response['data'])

nalja = datetime.datetime(2021, 8, 25)
august = nalja.strftime('%Y%m%d') #strftime(): 원하는 날짜 형식으로 출력

url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜

response = urllib.request.urlopen(url+august).read()
response = json.loads(response)

df1 = data.append(response['data'])

In [ ]:
# df1.to_csv('dskldj.csv', index=False)

# 1~11월

In [ ]:
#1~7월 반복문 실험

for i in range(1, 3):
  nalja = datetime.datetime(2021, 12, i)
  nalja2 = nalja.strftime('%Y%m%d')

  #nalja3 = nalja.strftime('%Y%m')

  url = 'https://www.nongnet.or.kr/api/whlslDstrQr.do?sdate=' # sdate = 날짜
  
  response = urllib.request.urlopen(url+nalja2).read()
  response = json.loads(response)
  
  globals() ['df{}'.format(i)] = pd.DataFrame(response['data'])

In [ ]:
august = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, 
                    df11, df12, df13, df14, df15, df16, df17, df18, df19, df20,
                    df21, df22, df23, df24, df25, df26, df27, df28, df29, df30])

In [ ]:
august.to_csv('/content/drive/MyDrive/Capstone/Data/AT_TSALET_ALL_202112.csv', index=False)