<a href="https://colab.research.google.com/github/smfwlgus/DnM/blob/master/%EB%86%8D%EC%82%B0%EB%AC%BC_%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# <font color = 'skyblue'> **AT_TSALET_ALL 에서 train.csv 코드** <font>


*  private: AT_TSALET_ALL -> private_data.csv
*  test_AT_TSALET_ALL(21년 8,9,10) -> 전체 형태를 바꾸는 방식 test.csv 제작

In [ ]:
import pandas as pd
import numpy as np
from glob import glob
import multiprocessing
import pickle

In [ ]:
# 윈도우즈 사용시 함수를 별도의 .py파일로 저장 후 import하여 사용
def preprocessing(tsalet_file):
    unique_pum = [
        '배추', '무', '양파', '건고추','마늘',
        '대파', '얼갈이배추', '양배추', '깻잎',
        '시금치', '미나리', '당근',
        '파프리카', '새송이', '팽이버섯', '토마토',
    ]
    
    unique_kind = [
        '청상추', '백다다기', '애호박', '캠벨얼리', '샤인마스캇'
    ]
    
    t_dict = {
        'date':[]
    }
    
    for sub in unique_pum:
        t_dict[f'{sub}_거래량(kg)'] = []
        t_dict[f'{sub}_가격(원/kg)'] = []
        
    for sub in unique_kind:
        t_dict[f'{sub}_거래량(kg)'] = []
        t_dict[f'{sub}_가격(원/kg)'] = []
        
    tsalet_sample = pd.read_csv(tsalet_file)
    days = sorted(tsalet_sample['SALEDATE'].unique())
    for day in days:
        t_dict['date'].append(day)
        for sub in unique_pum:
            # 날짜별, 품목별, 거래량이 0 이상인 행만 선택
            c = tsalet_sample[(tsalet_sample['SALEDATE']==day) & (tsalet_sample['PUM_NM']==sub) & (tsalet_sample['TOT_QTY']>0)]
            if c.shape[0] == 0:
                t_dict[f'{sub}_거래량(kg)'].append(0)
                t_dict[f'{sub}_가격(원/kg)'].append(0)
            else:
                tot_amt = c['TOT_AMT'].sum().astype(float)
                tot_qty = c['TOT_QTY'].sum().astype(float)
                mean_price = tot_amt/(tot_qty+1e-20)
                t_dict[f'{sub}_거래량(kg)'].append(tot_qty)
                t_dict[f'{sub}_가격(원/kg)'].append(mean_price)
        
        for sub in unique_kind:
            # 날짜별, 품종별, 거래량이 0 이상인 행만 선택
            c = tsalet_sample[(tsalet_sample['SALEDATE']==day) & (tsalet_sample['KIND_NM']==sub) & (tsalet_sample['TOT_QTY']>0)]
            if c.shape[0] == 0:
                t_dict[f'{sub}_거래량(kg)'].append(0)
                t_dict[f'{sub}_가격(원/kg)'].append(0)
            else:
                tot_amt = c['TOT_AMT'].sum().astype(float)
                tot_qty = c['TOT_QTY'].sum().astype(float)
                mean_price = round(tot_amt/(tot_qty+1e-20))
                tot_qty = round(tot_qty, 1)
                t_dict[f'{sub}_거래량(kg)'].append(tot_qty)
                t_dict[f'{sub}_가격(원/kg)'].append(mean_price)
                
    with open(f'/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/{tsalet_file.split("/")[-1].split(".")[0]}.pkl', 'wb') as f:
        pickle.dump(t_dict, f)

In [ ]:
# 윈도우즈 사용시 함수를 별도의 .py파일로 저장 후 import하여 사용
def preprocessing(tsalet_file):
    unique_pum = [
        '배추', '무', '양파', '마늘', '대파', 
        '깻잎', '시금치', '미나리', '파프리카', '토마토',
    ]
    
    t_dict = {
        'date':[]
    }
    
    for sub in unique_pum:
        t_dict[f'{sub}_거래량(kg)'] = []
        t_dict[f'{sub}_가격(원/kg)'] = []
        
    tsalet_sample = pd.read_csv(tsalet_file)
    days = sorted(tsalet_sample['SALEDATE'].unique())
    for day in days:
        t_dict['date'].append(day)
        for sub in unique_pum:
            # 날짜별, 품목별, 거래량이 0 이상인 행만 선택
            c = tsalet_sample[(tsalet_sample['SALEDATE']==day) & (tsalet_sample['PUM_NM']==sub) & (tsalet_sample['TOT_QTY']>=0)]
            if c.shape[0] == 0:
                t_dict[f'{sub}_거래량(kg)'].append(0)
                t_dict[f'{sub}_가격(원/kg)'].append(0)
            else:
                tot_amt = c['TOT_AMT'].sum().astype(float)
                tot_qty = c['TOT_QTY'].sum().astype(float)
                mean_price = tot_amt/(tot_qty+1e-20)
                t_dict[f'{sub}_거래량(kg)'].append(tot_qty)
                t_dict[f'{sub}_가격(원/kg)'].append(mean_price)
                
    with open(f'/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/{tsalet_file.split("/")[-1].split(".")[0]}.pkl', 'wb') as f:
        pickle.dump(t_dict, f)

In [ ]:
tsalet_files = sorted(glob('/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/*'))

pool = multiprocessing.Pool(processes=multiprocessing.cpu_count())
pool.map(preprocessing, tsalet_files)
pool.close()
pool.join()

In [ ]:
dict_files = sorted(glob('/content/drive/MyDrive/Capstone/Data/test_AT_TSALET_ALL/*.pkl'))

In [ ]:
t_dict_list = []
for dict_file in dict_files:
    with open(dict_file, 'rb') as f:
        train_dict = pickle.load(f)
    t_dict_list.append(train_dict)

In [ ]:
train = None

for t_dcit in t_dict_list:
    if train is None:
        train = pd.DataFrame(t_dcit)
    else:
        train = pd.concat([train, pd.DataFrame(t_dcit)])

In [ ]:
train['date'] = train.date.astype(str).str.replace('-','')
train['date'] = pd.to_datetime(train.date, format='%Y%m%d')

NameError: ignored

In [ ]:
train #test_AT_TSALET_ALL 사용해서 test.csv -> test_files로 바꾸면 끝남

         date  배추_거래량(kg)  ...  토마토_거래량(kg)  토마토_가격(원/kg)
0  2021-01-02    24401.50  ...      25290.0   1914.895216
1  2021-01-04   859651.80  ...     393979.0   2098.278649
2  2021-01-05   889332.20  ...     228576.5   2092.442574
3  2021-01-06  1006337.30  ...     163296.0   2270.461554
4  2021-01-07   535487.60  ...     177869.5   2060.298264
..        ...         ...  ...          ...           ...
24 2021-11-26  3322119.50  ...     231763.5   2675.807783
25 2021-11-27  3099051.25  ...     196120.0   2294.284622
26 2021-11-28        0.00  ...          0.0      0.000000
27 2021-11-29  2856016.45  ...     232403.5   2486.894345
28 2021-11-30  2185300.05  ...     176793.4   2358.261281

[306 rows x 21 columns]

In [ ]:
train.to_csv('/content/drive/MyDrive/Capstone/Data/test.csv', index=False)

In [ ]:
train2 = pd.read_csv('/content/drive/MyDrive/Capstone/Data/test.csv')

In [ ]:
tr = train2.copy()

In [ ]:
for i in range(tr.shape[0]):
  if tr['깻잎_가격(원/kg)'][i] == 0:
    tr = tr.drop([i], axis=0)

tr

          date  배추_거래량(kg)  ...  토마토_거래량(kg)  토마토_가격(원/kg)
1   2021-08-02   998824.04  ...     578291.0   1340.590481
2   2021-08-03   820255.49  ...     408103.6   1245.547699
3   2021-08-04  1000020.00  ...     448618.3   1231.644451
4   2021-08-05   930687.10  ...     410853.3   1195.879868
5   2021-08-06  1020373.75  ...     506570.1   1119.811710
..         ...         ...  ...          ...           ...
78  2021-10-26  1608052.10  ...     196670.5   2818.614261
79  2021-10-27  1570622.70  ...     187519.6   3035.949895
80  2021-10-28  1612247.30  ...     147721.0   3608.149011
81  2021-10-29  1592272.90  ...     251039.4   3475.340006
82  2021-10-30  1395747.15  ...     222778.0   3065.140099

[77 rows x 21 columns]

In [ ]:
tr.to_csv('/content/drive/MyDrive/Capstone/Data/test2.csv', index=False)

In [ ]:
qwert = pd.read_csv('/content/drive/MyDrive/Capstone/Data/ten_pum_train_onebon.csv')

In [ ]:
qwert

            date   요일  배추_거래량(kg)  ...  파프리카_가격(원/kg)  토마토_거래량(kg)  토마토_가격(원/kg)
0     2016-01-01  금요일         0.0  ...            0.0          0.0           0.0
1     2016-01-02  토요일     80860.0  ...         3703.0      30950.0        1621.0
2     2016-01-03  일요일         0.0  ...            0.0          0.0           0.0
3     2016-01-04  월요일   1422742.5  ...         4871.0     291057.0        1834.0
4     2016-01-05  화요일   1167241.0  ...         5129.0     194626.5        1833.0
...          ...  ...         ...  ...            ...          ...           ...
2034  2021-07-27  화요일    865125.6  ...         1722.0     260965.8        1705.0
2035  2021-07-28  수요일    832213.3  ...         1734.0     349643.6        1757.0
2036  2021-07-29  목요일    782651.1  ...         1696.0     276189.7        1796.0
2037  2021-07-30  금요일    742723.2  ...         1701.0     385327.1        1722.0
2038  2021-07-31  토요일    562090.7  ...         1740.0     379754.0        1441.0

[2039 rows x 22 columns]

In [ ]:
train2[212:]

           date   요일  배추_거래량(kg)  ...  파프리카_가격(원/kg)  토마토_거래량(kg)  토마토_가격(원/kg)
212  2021-08-01  일요일        0.00  ...       0.000000          0.0      0.000000
213  2021-08-02  월요일   998824.04  ...    1767.123850     578291.0   1340.590481
214  2021-08-03  화요일   820255.49  ...    2109.013468     408103.6   1245.547699
215  2021-08-04  수요일  1000020.00  ...    2250.771383     448618.3   1231.644451
216  2021-08-05  목요일   930687.10  ...    2543.051736     410853.3   1195.879868
..          ...  ...         ...  ...            ...          ...           ...
329  2021-11-26  금요일  3322119.50  ...    2108.242279     231763.5   2675.807783
330  2021-11-27  토요일  3099051.25  ...    2080.165043     196120.0   2294.284622
331  2021-11-28  일요일        0.00  ...       0.000000          0.0      0.000000
332  2021-11-29  월요일  2856016.45  ...    2274.810506     232403.5   2486.894345
333  2021-11-30  화요일  2185300.05  ...    2225.523196     176793.4   2358.261281

[122 rows x 22 columns]

In [ ]:
import datetime #20/9/29~20/11/5
days = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일']
df=[]

for i in range (1, 32):
  nalja2 = days[datetime.date(2021, 1, i).weekday()]
  df.append(nalja2)

for i in range (1, 29):
  nalja2 = days[datetime.date(2021, 2, i).weekday()]
  df.append(nalja2)

for i in range (1, 32):
  nalja2 = days[datetime.date(2021, 3, i).weekday()]
  df.append(nalja2)

for i in range (1, 31):
  nalja2 = days[datetime.date(2021, 4, i).weekday()]
  df.append(nalja2)

for i in range (1, 32):
  nalja2 = days[datetime.date(2021, 5, i).weekday()]
  df.append(nalja2)

for i in range (1, 31):
  nalja2 = days[datetime.date(2021, 6, i).weekday()]
  df.append(nalja2)

for i in range (1, 32):
  nalja2 = days[datetime.date(2021, 7, i).weekday()]
  df.append(nalja2)

for i in range (1, 32):
  nalja2 = days[datetime.date(2021, 8, i).weekday()]
  df.append(nalja2)

for i in range (1, 31):
  nalja2 = days[datetime.date(2021, 9, i).weekday()]
  df.append(nalja2)

for i in range (1, 32):
  nalja2 = days[datetime.date(2021, 10, i).weekday()]
  df.append(nalja2)

for i in range (1, 31):
  nalja2 = days[datetime.date(2021, 11, i).weekday()]
  df.append(nalja2)

df

['금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일',
 '수요일',
 '목요일',
 '금요일',
 '토요일',
 '일요일',
 '월요일',
 '화요일']

In [ ]:
df = pd.DataFrame(df)
df.shape

(334, 1)

In [ ]:
train2.columns

Index(['date', '배추_거래량(kg)', '배추_가격(원/kg)', '무_거래량(kg)', '무_가격(원/kg)',
       '양파_거래량(kg)', '양파_가격(원/kg)', '마늘_거래량(kg)', '마늘_가격(원/kg)', '대파_거래량(kg)',
       '대파_가격(원/kg)', '깻잎_거래량(kg)', '깻잎_가격(원/kg)', '시금치_거래량(kg)',
       '시금치_가격(원/kg)', '미나리_거래량(kg)', '미나리_가격(원/kg)', '파프리카_거래량(kg)',
       '파프리카_가격(원/kg)', '토마토_거래량(kg)', '토마토_가격(원/kg)'],
      dtype='object')

In [ ]:
train2['요일'] = df

In [ ]:
train2 = train2[['date', '요일', '배추_거래량(kg)', '배추_가격(원/kg)', '무_거래량(kg)', '무_가격(원/kg)',
       '양파_거래량(kg)', '양파_가격(원/kg)', '마늘_거래량(kg)', '마늘_가격(원/kg)', '대파_거래량(kg)',
       '대파_가격(원/kg)', '깻잎_거래량(kg)', '깻잎_가격(원/kg)', '시금치_거래량(kg)',
       '시금치_가격(원/kg)', '미나리_거래량(kg)', '미나리_가격(원/kg)', '파프리카_거래량(kg)',
       '파프리카_가격(원/kg)', '토마토_거래량(kg)', '토마토_가격(원/kg)']]

In [ ]:
hap2 = train2[212:]

In [ ]:
hap2.shape

(122, 22)

In [ ]:
qwert.shape

(2039, 22)

In [ ]:
data = pd.concat([qwert, hap2]) #인덱스 번호까지 합쳐지게

In [ ]:
data.to_csv('/content/drive/MyDrive/Capstone/Data/Nong_Dataset.csv', index=False)

In [ ]:
train2.to_csv('/content/drive/MyDrive/Capstone/Data/test.csv', index=False)

# <font color = 'lime'> **test_files 코드** <font>

In [ ]:
import pandas as pd

data = pd.read_csv('/content/drive/MyDrive/Capstone/Data/test_yesterday.csv')

In [ ]:
data.shape #8월 1일 ~ 10월 31일(가격이 0인날 제외 - 일요일, 연휴)

(336, 22)

In [ ]:
data['date'][335] #데이터 잘 들어왔는지 마지막 행 확인

'2021-12-02'

In [ ]:
for i in range (334, 336):  #42

   test = data[0:i+1]

   nalja = data['date'][i] #날짜 불러오기 2021-08-24
   
   print(test) #csv 저장하기 전에 확인
   
   test.to_csv('/content/drive/MyDrive/Capstone/Data/test_files/' + f'test_{nalja}' + '.csv', index=False)

           date   요일  배추_거래량(kg)  ...  파프리카_가격(원/kg)  토마토_거래량(kg)  토마토_가격(원/kg)
0    2021-01-01  금요일        0.00  ...       0.000000          0.0      0.000000
1    2021-01-02  토요일    24401.50  ...    4884.721875      25290.0   1914.895216
2    2021-01-03  일요일        0.00  ...       0.000000          0.0      0.000000
3    2021-01-04  월요일   859651.80  ...    4515.337752     393979.0   2098.278649
4    2021-01-05  화요일   889332.20  ...    5515.671581     228576.5   2092.442574
..          ...  ...         ...  ...            ...          ...           ...
330  2021-11-27  토요일  3099051.25  ...    2080.165043     196120.0   2294.284622
331  2021-11-28  일요일        0.00  ...       0.000000          0.0      0.000000
332  2021-11-29  월요일  2856016.45  ...    2274.810506     232403.5   2486.894345
333  2021-11-30  화요일  2185300.05  ...    2225.523196     176793.4   2358.261281
334  2021-12-01  수요일  1517157.50  ...    2134.811434     190878.7   2507.076484

[335 rows x 22 columns]
           date   요일  배추_거래량(kg)  ...  파프리카_가격(원/kg)  토마토_거래량(kg)  토마토_가격(원/kg)
0    2021-01-01  금요일        0.00  ...       0.000000          0.0      0.000000
1    2021-01-02  토요일    24401.50  ...    4884.721875      25290.0   1914.895216
2    2021-01-03  일요일        0.00  ...       0.000000          0.0      0.000000
3    2021-01-04  월요일   859651.80  ...    4515.337752     393979.0   2098.278649
4    2021-01-05  화요일   889332.20  ...    5515.671581     228576.5   2092.442574
..          ...  ...         ...  ...            ...          ...           ...
331  2021-11-28  일요일        0.00  ...       0.000000          0.0      0.000000
332  2021-11-29  월요일  2856016.45  ...    2274.810506     232403.5   2486.894345
333  2021-11-30  화요일  2185300.05  ...    2225.523196     176793.4   2358.261281
334  2021-12-01  수요일  1517157.50  ...    2134.811434     190878.7   2507.076484
335  2021-12-02  목요일  1517168.60  ...    2245.025486     123034.5   2424.799223

[336 rows x 22 columns]

# <font color = 'lime'> **private용 test_files 코드** <font>

In [ ]:
import pandas as pd

data = pd.read_csv('/content/drive/MyDrive/Capstone/private_data/private_data.csv')

In [ ]:
data.shape #2020/11/6 ~ 2021/8/23

(291, 44)

In [ ]:
data['date'][290] #데이터 잘 들어왔는지 마지막 행 확인

'2021-08-23'

In [ ]:
for i in range (0, 291):  #42

   test = data[0:i+1]

   nalja = data['date'][i] #날짜 불러오기 2021-08-24

   #print(test) #csv 저장하기 전에 확인
   
   test.to_csv('/content/drive/MyDrive/Capstone/private_data/test_files/' + f'test_{nalja}' + '.csv', index=False)